/* all body  */
.font-style{
    font-family: 'Roboto Slab', serif;
}
/* all body end  */
header{
    background-color: rgb(18, 78, 88);
}
.nav-text-color{
    background-color: rgb(18, 78, 88);
}
.modal-btn-style a{
    text-decoration: none;
    color: white;
}
/* fetured bikes section  */
.section-title{
    text-align: center;
    font-weight: bold;
}
/* contact section  */
.contact-us{
    background-color: rgba(148, 140, 133, 0.5);
}
.footer-link p{
    font-size: 16px;
}
.footer-link a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}